* {
    box-sizing: border-box;
}

:root {
    --pink: rgb(243, 123, 183);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: antiquewhite;
}

h1 {
    display: inline-block;
    background-color: white;
    color: rgb(243, 123, 183);
    font-size: 35px;
    padding-left: 60px;
    margin: 0;
}


.navbar {
    background-color: var(--pink) !important;
    padding: 15px;}

 #navbarSupportedContent{
    font-size: 110%;
    float: right;
    padding-left: 100px; 
}

.navbar-nav {
    display: inline;
    font-size: 110%;
    margin-left: auto;
    margin-right: 0 !important;
}

.navbar ul li {
    display: inline;
    list-style-type: none;
    padding: 20px;
}

.nav-link { 
    display: inline-block;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    font-weight: bold;
    color: white;
}

.hero-banner {
    height: 400px;
    width: 100%;
    background-image: url("../images/img1.jpg");
    background-size: cover;
    background-position: center;
}

#blerta {

    height: 250px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

h2 {
    font-family: "Lucida Console", "Courier New";
    color: rgb(235, 54, 181);
   display:flex;
   justify-content: center;
   margin-top: 50px;

}

h2 span {background-color: antiquewhite;
    padding: 10px;
   
}

h3 {
    font-size: 30px;
    color: var(--pink);
    padding: 10px;
    text-align: right;
    display: inline-block;
}

.page-section {
    margin-left: 10%;
    display: flex;
    align-items: baseline;
}

h1 h2 h3 h4,
h5,
h6 {
    margin: 0;
}

p {
    display: flex;
    justify-content: center; 
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
    align-items: baseline;
}

#work {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;

}

.container-fluid  {

  align-self: center;}


.horiseonImg {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    margin-top: 20px;
    border-style: solid;
    border-width: thin;
        border-color: black;

}

.smallerImg {
width: 100%;
height: 10vw;
object-fit: cover;
margin-top: 20px;
border-style: solid;
border-width: thin;
border-color: black;

}

img:hover {
 opacity: 0.5;

}

.row {
   justify-content: center;
}

.card-title {
    color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.card {
    background-color: var(--pink);
    border-style: solid;
    border-color: black;
    height: 50px;
}
.card-body a {
    text-decoration: none;
}


.card-body a:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
        color: white;

    
}
.page-section-contact {

    display: flex;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
}

#contact {
    display: flex;
    flex-direction: row;
}

.btn {
    background-color: pink;
    border: none;
    justify-content: center;
   margin-left: 50px;
   margin-top: 20px
}

.btn:hover {

    background-color: lavender;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.contact-links {
margin-left: 400px;

}

